@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-display antialiased text-deep-charcoal bg-off-white;
    min-height: 100dvh;
  }
}

@layer components {
  .glass-effect {
    @apply backdrop-blur-md;
    background-color: rgba(249, 250, 251, 0.8);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
